* {
	box-sizing: border-box;
}

body {
	background-color: #cccccc;
	background-image: linear-gradient(rgba(255, 255, 255, 0.74), rgba(255, 255, 255, 0.74)), 
		url("img/background.png");
	font-family: Courier;
	background-size: 28%;
}

.background-img {
	height: 200px;
}

.title {
	font-size: 80px;
	display: flex;
	justify-content: center;
	margin: 6px 0 16px 0;
	background-image: linear-gradient(45deg, #08efff, #ea00ff);
	background-repeat: repeat;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent; 
 	-moz-background-clip: text;
 	-moz-text-fill-color: transparent;
}


.card {
	width: 150px;
	position: relative;
	pointer-events: all;
	cursor: pointer;
}

.card img {
	width: 100%;
}

.game-content {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 150px);
	align-items: center;
	justify-items: center;
	gap: 10px 30px;
	pointer-events: none;
}

.card-back {
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(0deg);
	backface-visibility: hidden;
	transition: transform 0.3s ease-in-out;
	pointer-events: none;
}

.card-front {
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition: transform 0.3s ease-in-out;
	pointer-events: none;
}

.card.flipped .card-back {
	transform: rotateY(180deg);
}

.card.flipped .card-front {
	transform: rotateY(0);
}

.win-modal {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.win-modal-content {
	background: white;
	border: 5px solid black;
	font-size: 40px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(to left, #76adff, #41b9ff, #7ef1fc, #cffcea, #f8b9b9)

}

.reset-btn {
	margin-top: 10px;
}

.flips {
	font-weight: bold;
	color: rgb(13, 39, 110);
	}

.flip {
	font-weight: bold;
	/* margin-left: 600px; */
	font-size: 30px;
	margin-bottom: 10px;
	color: rgb(13, 39, 110);
	margin: 6px 0 16px 0;
	text-align: center;
}
